
    $color:#3a3a49
    $color2:#495bbe
    //*START HEADER*//
header ul
    background-color: $color
header ul li .active 
    background-color: $color2
header ul li span
    font-size: .60em
.flati
    margin-right: 150px

.bg-header
   width : 100%
    background-repeat: no-repeat
    //*END HEADER*//
