
    $color:#3a3a49
    $color2:#495bbe
    $color3:#3497d0
    //*START HEADER*//
header ul
    background-color: $color
header ul li .active 
    background-color: $color2
header ul li span
    font-size: .60em
.flati
    margin-right: 150px

.bg-header
   width : 100%
    background-repeat: no-repeat
    //*END HEADER*//

    //*START SECTION1*//
.jumbotron p
    font-size: 1.5em
    padding-left: 10em
    padding-right: 10em
.jumbotron p .text-light
    background-color: $color3
.jumbotron p span
    color: $color3
    //*END SECTION1*//